.page {
  display: flex;
  justify-content: space-evenly;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  margin-top: 30px;
  position: relative;
}

form {
  width: 400px;
  margin: 0 10%;
  margin-bottom: 30px;
}

form > div {
  margin-bottom: 20px;
}

.alert {
  color: red;
}

input {
  font-size: 1em;
  width: 100%;
  border: none;
  border-bottom: 3px solid black;
  border-radius: 3px;
  outline: none;
}

textarea {
  font-size: 1em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  overflow: hidden;
  resize: none;
  border: none;
  border-bottom: 3px solid black;
  border-radius: 3px;
  outline: none;
  padding-bottom: 5px;
}

.buttons {
  color: #000000;
  margin-top: 20px;
  background-color: #ffffff;
  padding: 5px;
  border: 3px solid #000000;
  border-radius: 50px;
  transition: all 0.2s linear;
}

#submit {
  margin-top: 10px;
}

#submit:hover {
  color: #ffffff;
  background-color: #000000;
}

input::placeholder,
textarea::placeholder {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

img {
  width: 50%;
  height: auto;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.error-page .title {
  font-size: 30px;
  text-align: center;
  margin-top: 50px;
}